<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:fragment="right-nav" class="col-lg-3 d-none d-lg-block sticky-top">
    <div class="sticky-top mt-2">
        <h2 class="dash-header text-right">Learning Resources</h2>
        <div class="pr-1 text-right dash-nav">
            <hr>
            <h5><em><a class="dash-link" th:href="@{/dashboard/search/texts}">Academic Search</a></em></h5>
            <p class="dash-text">A customized search for SkillSprint learners using sites with free eBooks, textbooks, and educational resources.</p>
            <h5><em><a class="dash-link" th:href="@{/dashboard/search/videos}">Video Learning</a></em></h5>
            <p class="dash-text">Search YouTube for educational video content to enhance your learning experience.</p>
            <h5><em><a class="dash-link" th:href="@{/dashboard/search/site}">Course Search</a></em></h5>
            <p class="dash-text">Search SkillSprint courses and learning materials by category or topic.</p>
            <h5><em><a class="dash-link" th:href="@{/dashboard/search/tips}">Search Tips</a></em></h5>
            <p class="dash-text">Learn about our search tools and how to use advanced features to find the best learning resources.</p>
        </div>
    </div>
    <button onclick="topFunction()" id="myBtn" class="btn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
</div>
</body>
</html>